@font-face {
    font-family: mainFont;
    src: url(nimbusmono-regular.otf);
}

@font-face {
    font-family: headerFont;
    src: url(slkscr.ttf);
}

body {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: mainFont;
    margin: 0 5%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-top: 32px;
    margin-bottom: 24px;
}

h1 {
    font-size: 3.5vmax;
    font-family: headerFont;
}

img {
    width: 8vmax;
    image-rendering: pixelated;
    margin-bottom: 16px;
}

a {
    color: lightblue;
}

#quote-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

#quote-text {
    font-size: 3vmax;
    margin: 32px 0;
    text-align: center;
}

#quote-author {
    font-size: 2vmax;
    margin: 0 0 8px 0;
}

#quote-source {
    font-size: 1.5vmax;
    font-style: italic;
    margin: 0;
}

code, pre {
    font-size: larger;
    background-color: #202020;
    padding: 16px;
}

code {
    margin: 16px 0;
}

.api-endpoint {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #101010;
    padding: 24px;
    margin-bottom: 32px;
}

.api-endpoint h3,p {
    margin: 8px 0;
}