@font-face {
    font-family: mainFont;
    src: url(nimbusmono-regular.otf);
}

@font-face {
    font-family: headerFont;
    src: url(slkscr.ttf);
}

body {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: mainFont;
    margin: 0 5%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-top: 32px;
    padding-bottom: 64px;
}

h1 {
    font-size: 3.5vmax;
    font-family: headerFont;
}

img {
    width: 8vmax;
    image-rendering: pixelated;
    margin-bottom: 16px;
}

a {
    color: lightblue;
}

input {
    background: black;
    color: white;
    font-family: headerFont;
    font-size: 1.5em;
    border: white 1px solid;
    border-radius: 4px;
    padding: 12px;
}

input:focus::placeholder {
    color: transparent;
}

button {
    background: #101010;
    color: white;
    font-family: headerFont;
    font-size: 1.5em;
    padding: 12px;
}

.searchButton {
    background-color: black;
    font-family: headerFont;
    font-size: 2.5vmax;
    color: white;
    padding: 16px;
    margin: 128px 0 0 0;
    border: 1px white solid;
    border-radius: 8px;
}

#searchResults {
    font-size: large;
}

#copyUrlButton {
    font-size: smaller;
    margin-top: 8px;
}

.quote-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.quote-text {
    font-size: 2em;
    margin: 32px 0;
    text-align: center;
}

.quote-author {
    font-size: 1.5em;
    margin: 0 0 8px 0;
}

.quote-source {
    font-size: 1em;
    font-style: italic;
    margin: 0;
}

.quote-search-result {
    font-size: smaller;
    border: solid white 1px;
    border-radius: 8px;
    margin: 24px;
    padding: 16px;
    background-color: #202020;
}

code, pre {
    font-size: larger;
    background-color: #202020;
    padding: 16px;
}

code {
    margin: 16px 0;
}

pre {
    white-space: pre-wrap;
}

.api-endpoint {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #101010;
    padding: 24px;
    margin-bottom: 32px;
}

.api-endpoint h3, .api-endpoint p {
    margin: 8px 0;
}